@font-face {
    font-family: fantasyFont;
    src: url(../fonts/fontawesome-webfont.ttf);
}

label,
html h1,
h2,
h3,
h5,
p {
    color: #767467;
    font-family: bodoni;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-size: 100%;
    /*  background-color: #D5CCBB;
*/
    background-color: #D5D2B8;
    margin-top: 5rem;
}

.center {
    margin: auto;
}

#signin-bg {
    /*background-image: url(../img/flower1.png);*/
    width: 100%;
    height: 500px;
}

.signin-form {
    width: 30%;
    margin: auto;
    /*background-color: #f1f1f1;*/
}

#row-bg {
    width: 80%;
    margin: auto;
}

.banner {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #404141;
    padding-top: 3rem;
    font-family: 'fantasyFont', 'Lobster', cursive;
}

a {
    text-decoration: none;
    color: #404141;
}

nav {
    margin-top: 10px;
    background-color: #fff;
}

.navbar-header {
    background-color: #fff;
    width: 30%;
}


/*One day brand*/

.navbar-brand {
    width: 30px;
    padding-top: 10px;
}

.icon-row {
    width: 90%;
    margin: auto;
    padding: 3rem;
}

.icon {
    width: 13%;
    margin-left: 2rem;
    /*border-radius: 50%;*/
    display: inline-block;
}

.brand,
.tabs {
    display: inline-block;
    /*vertical-align: middle;*/
}

.navbar {
    width: 90%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav {
    background: transparent;
    padding: 10px;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 20px;
    z-index: 1;
}

nav ul {
    margin-top: 7rem;
    padding: 0;
}

nav ul li {
    display: inline-block;
    color: #767467;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    font-family: sans-serif;
    transition: .3s linear color;
}

nav ul li:hover {
    color: #B14130;
}

footer {
    background-color: #AF9453;
    padding: 2rem;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    color: white;
    margin: 0 .5rem;
}

footer ul li h6,
h4 {
    font-family: sans-serif;
}

.text1 {
    color: #f0f0f0;
    font-size: 8rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

.text2 {
    color: #f0f0f0;
    font-size: 8rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

.text3 {
    color: #f0f0f0;
    font-size: 8rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

#oneday {
    width: 100%;
}

.margin-top {
    margin-top: 200px;
}

.margin-top2 {
    margin-top: 50px;
}

.margin-top3 {
    margin-top: : 100px;
}

.margin-right {
    margin-right: 100px;
}

.margin-left {
    margin-left: 400px;
}

.float-left {
    float: left;
    width: 30%;
}

.float-right {
    float: right;
    width: 30%;
}

.row {
    width: 100%;
    margin-bottom: 2rem;
}

#flower {
    width: 35%;
    margin-right: 150px;
}

#map {
    width: 100% height: 80%;
}

.prefer {
    background-image: url("../img/flower3-4.png");
    background-repeat: no-repeat;
    height: 700px;
}

.checkbox {
    padding: 2rem;
    margin-left: 6rem;
    width: 27%;
    margin-top: 10rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

.checkbox h5 {
    font-size: 3rem;
    font-family: sans-serif;
}

.checkbox label {
    font-size: 2rem;
}

.title {
    text-align: center;
}

.center {
    width: 7%;
    margin: auto;
    margin-top: 3rem;
}

label {
    padding: 10px;
}

#save-btn {
    background-color: #FFB5AC;
    transition: ease .5s background-color;
}

#save-btn:hover {
    background-color: #B14130;
}

.poster {
    width: 20%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    margin-left: 10px; 
    position: relative;
}

.icon-2{
    width: 30%; 
    position: absolute;
    margin-bottom: 300px;
    margin-left: 144px;
    margin-top: -78px;
}

/*.glyphicon{
    position: absolute;
    display: inline;
    padding: 2rem;
}*/

#like1{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like1.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like2{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like2.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like3{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like3.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like4{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like4.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like5{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like5.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like6{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like6.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like7{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like7.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like8{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like8.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like9{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like9.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like10{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like10.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like11{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like11.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}

#like12{
  cursor:pointer;
  padding:10px 12px 8px;
  /*background:#fff;*/
  /*border-radius:50%;*/
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 

} 

#like12.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}


/*#bm1{
  cursor:pointer;
  padding:10px 12px 8px;
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s; 
} 

#bm1.press {
  animation: size .4s;
  color:#B14130;
  font-style: normal;
}
*/

/*-------------------
